{% extends "base.html" %}

{% block title %}
Edit Trek
{% endblock %}

{% block content %}

<div class="container mt-5">

    <h2>Edit Trek</h2>

    <form method="POST" action="{{ url_for('main.edit_trek_post', trek_id=trek.id) }}">

        <div class="mb-3">
            <label>Trek Name</label>
            <input
                type="text"
                class="form-control"
                name="name"
                value="{{ trek.name }}"
                required>
        </div>

        <div class="mb-3">
            <label>Location</label>
            <input
                type="text"
                class="form-control"
                name="location"
                value="{{ trek.location }}"
                required>
        </div>

        <div class="mb-3">
            <label>Difficulty</label>

            <select
                class="form-select"
                name="difficulty">

                <option value="Easy"
                {% if trek.difficulty == "Easy" %}selected{% endif %}>
                Easy
                </option>

                <option value="Moderate"
                {% if trek.difficulty == "Moderate" %}selected{% endif %}>
                Moderate
                </option>

                <option value="Hard"
                {% if trek.difficulty == "Hard" %}selected{% endif %}>
                Hard
                </option>

            </select>
        </div>

        <div class="mb-3">
            <label>Duration</label>

            <input
                type="text"
                class="form-control"
                name="duration"
                value="{{ trek.duration }}">
        </div>

        <div class="mb-3">
            <label>Price</label>

            <input
                type="number"
                class="form-control"
                name="price"
                value="{{ trek.price }}">
        </div>

        <div class="mb-3">
            <label>Available Slots</label>

            <input
                type="number"
                class="form-control"
                name="available_slots"
                value="{{ trek.available_slots }}">
        </div>

        <div class="mb-3">
            <label>Assign Staff</label>

            <select
                class="form-select"
                name="assigned_staff">

                {% for person in staff %}

                <option value="{{ person.id }}" {% if person.id == trek.assigned_staff_id %}selected{% endif %}>
                    {{ person.name }}
                </option>

                {% endfor %}

            </select>

        </div>

        <div class="mb-3">

            <label>Status</label>

            <select
                class="form-select"
                name="status">

                <option value="Open"
                {% if trek.status == "Open" %}selected{% endif %}>
                Open
                </option>

                <option value="Closed"
                {% if trek.status == "Closed" %}selected{% endif %}>
                Closed
                </option>



            </select>

        </div>

        <button
            class="btn btn-success">

            Edit Trek
        </button>

    </form>

</div>

{% endblock %}