{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
    <h1>Register</h1>
    <form>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name">
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault1">
            <label class="form-check-label" for="radioDefault1">
                Staff
            </label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault2" checked>
            <label class="form-check-label" for="radioDefault2">
                customer
            </label>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}

{% block style %}
    <style>
        form{
            
            
            max-width: 400px;
            margin: 0px auto;
        }
        h1{
            text-align: center;
            margin-top: 64px;
        }
        
    </style>
{% endblock %}